

*{
	padding: 0;
	margin: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

html, body, div, p, section, header, footer, main {
	display: block;
}


body {
	background-image: url("pokemoswalpaper.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 0px 0px 29px 30px rgba(255, 255, 255, .9);
    /* height: 100vh; */
    background: linear-gradient(to top, rgba(233, 239, 224, 1), rgba(255, 255, 255, 1));
}

header {
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
}

.logo {
	width: 100%;
	text-align: center;
}

.logo img {
	max-width: 650px;
	margin: 0 auto;
	min-width: 250px;
	margin-top: -40px;
}

.first {
	width: 100%;
	border-bottom: 2px solid red;
	text-align: center;
}

h1 {
	color: #000;
	font-size: 54px;
}

.first div {
	width: 100%;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 30px;
	display: inline-block;
	color: #fff;
	vertical-align: top;
	/*height: 240px;*/
	text-align: center;
	font-size: 50px;
	min-width: 300px;

}

.first div+div{
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('pokeballfront.png'); */
    background-position: 0px -109px;
    height: 350px;
}

.first div+div img {
	width: 25%;
}


.second {
	width: 100%;
	border-bottom: 2px solid red;
	height: 450px;
}


.second .video {
	max-width: 750px;
	margin: 0 auto;
	margin-top: 50px;
	height: 400px;
}


.third {
	width: 100%;
	border-bottom: 2px solid red;
	height: 500px;
}


.fours {
	width: 100%;
	border-bottom: 2px solid red;
	height: 450px;
}













